* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
.wrapper {
    background-color: #f7fcfe;
}

.container {
    max-width: 940px;
    margin: auto;
}

.logo {
    text-transform: uppercase;
    color: blue;
    font-size: 30px;
    text-decoration: none;
    margin-right: 410px;

}
.logo,.nav, .nav-item  {
    display: inline-block;
}

ul {
    list-style: none;

}

.header {
    padding: 20px 0px;
}
.nav-link {
    color: blue;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px 18px;
}

.nav-item:hover > .nav-link {
    background-color: #0ebfdd;
    color: #d8f5fa;
    border-radius: 25px;
}

.wrapper-info {
    background-image: url(../IMG/Untitled-1.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.info {
    padding: 410px 0px 80px;
}

.title {
    text-align: center;
    color: #f7fdfe;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 44px;
}

.text {
    color: #f7fdfe;
    text-align: center;
    font-size: 20px;

}

.about {
    padding: 70px 0px 75px;
}

.title-about {
    color: #00cccc;
}
.text-about {
    color: #45494d;

}

.wrapper-team {
    background-color: #0ebfdd;
}
.team {
    padding: 60px 0 65px;
}
.team-list {
    text-align: center;
    margin-bottom: 100px;
}

.team-item {
    display: inline-block;
    margin-right: 70px;
}

.team-picture {
    display: block;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 50%;

}

.team-item:last-child {
    margin-right: 0;
}

.team-text {
    font-style: italic;
}

.btn {

    display: block;
    margin: auto;
    text-transform: uppercase;
    padding: 15px 35px;
    color: aliceblue;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid lavender;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}
.btn:hover {
    background-color: #f7fdfe;
    color: #0ebfdd;

}

.wrapper-map {
    height: 600px;
    background-image: url("../IMG/MAP.gif");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.wrapper-footer {
    background-color: #45494d;
}

.footer-top {
    padding: 15px 20px;
    border-bottom: 1px solid deeppink;
}

.footer-item {
    display: inline-block;
    margin-right: 35px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-link {
    display: block;
    text-transform: uppercase;
    color: #f7fdfe;
    font-size: 12px;
    text-decoration: none;
}
.footer-bottom {
    text-align: right;
    padding: 15px 0;
}

.license {
    display: inline-block;
}
.license-item {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #73767a;

}

.license-link, .copyright {
    color: #73767a;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    display: inline-block;
    padding: 0 0 0 15px;
}